<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417443753123-smfim120r8e7u28cam9kk6o789nhmh6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417443753123-smfim120r8e7u28cam9kk6o789nhmh6t</string>
	<key>API_KEY</key>
	<string>AIzaSyD0z_iEfhkaMeoRagLjubAEQ81fdzMpVAk</string>
	<key>GCM_SENDER_ID</key>
	<string>417443753123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahn.KifuCam</string>
	<key>PROJECT_ID</key>
	<string>kifucam-1441a</string>
	<key>STORAGE_BUCKET</key>
	<string>kifucam-1441a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417443753123:ios:4ed70b5b4468207fac6316</string>
	<key>DATABASE_URL</key>
	<string>https://kifucam-1441a.firebaseio.com</string>
</dict>
</plist>